body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20, border:solid 15px black, margin:5px }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative; display:flex; flex-direction: row;justify-content:space-between}
/*//.unity-mobile #unity-footer { display: none }*/
#unity-webgl-logo { flex-basis:   auto; width: 204px; height: 38px; background: url('tm_standaardlogo_rgb.png') no-repeat center }
#unity-build-title { flex-basis:   auto; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { flex-basis:   auto; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
.attribute {
   flex-basis:   auto;
    font-size: 0.5em;
    font-style: italic;
    color: #b2b2b2;
/*text-align: right;*/
margin:auto;
}
